<!--<div class="trigger-wrapper">-->
  <!--<div *ngFor="let field of menuFields">-->
    <!--<span>{{field.constructor.name}}</span> : <span>{{field.url}}</span>-->
  <!--</div>-->

<!--</div>-->

<button class="menu-trigger" md-icon-button [mdMenuTriggerFor]="menu">
  <md-icon>menu</md-icon>
</button>

<md-menu #menu>
  <button md-menu-item routerLink="/user-dashboard">
    <md-icon>assessment</md-icon>
    <span>Dashboard</span>
  </button>
  <button md-menu-item disabled>
    <md-icon>message</md-icon>
    <span>Messages</span>
  </button>
  <button md-menu-item>
    <md-icon>account_box</md-icon>
    <span>Your account</span>
  </button>

  <button (click)="login()" *ngIf="session === ''; else logoutTemplate" md-menu-item>
    <md-icon>add_circle_outline</md-icon>
    <span>Login</span>
  </button>

  <ng-template #logoutTemplate>
    <button (click)="logout()" md-menu-item>
      <md-icon>remove_circle_outline</md-icon>
      <span>Logout</span>
    </button>
  </ng-template>
</md-menu>